.option {
	width: 200px;
	height: 50px;
	font-size: 40px;

}

.imgoptions{
	/* height:65%; */
    height: 400px;
	width: 400px;
	overflow:hidden;
	display: block;
    margin-left: auto;
    margin-right: auto; 
}


#right {

       position:absolute;
       width: 45%;
       left: 49%;
       text-align:center;
}

#right_image {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#choose_yeahok {
    text-align: left;
}

#left {
      position:absolute;
       width: 45%;
       text-align:center;
}

#left_image {
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

#score {
	font-size:40px;
	font-weight: 700;
	color: pink;
	height: 100px;
}

#prompt {
  text-align: center;	
  font-size: 70px;
}