li.crop, li.brightness, li.saturation, li.hue {
 display: none;
}

#photocatch .photobooth ul {
    background: rgba(0,0,0,0.1);
    height: 40px;
}

.smile {
    height:10px;
}

.smile.happy {
   background: green;
}
.smile.sad {
   background: red;
}


#target {
    width:200px;
}

#photocatch {
    position: absolute;
    left: -300px;
}

#dislikes {
   border-right: whitesmoke;
}